.table thead th.ai_th_sortable {
	cursor: pointer;
}
.table thead th.ai_th_sortable::after {
	float: right;
}
.table thead th.ai_th_sortable__up::after { 
    content: "▼";
}
.table thead th.ai_th_sortable__down::after { 
	content: "▲";
}
.ai_td_active {
	background: #D9EFF7;
}